<p>Hi {{ username }},</p>

<p>
  Welcome to TarkovArmory. Please confirm your email address by clicking the link below:
</p>

<p>
<a href="{{ 'https://tarkovarmory.app/#/confirm-email/' + confirmation_token }}">Confirm email address</a>
</p>