<p>Hi {{ username }},</p>

<p>
  Welcome to TarkovArmory. Please confirm your email address by clicking the link below (TODO: UPDATE LINK FOR PRODUCTION):
</p>

<p>
<a href="{{ 'http://192.168.0.12:8080/#/confirm-email/' + confirmation_token }}">Confirm email address</a>
</p>