<p>Hi {{ username }},</p>

<p>
  Welcome to TarkovArmory. Please confirm your email address by clicking the link below (TODO: UPDATE LINK FOR PRODUCTION):
</p>

<p>
<a href="{{ '127.0.0.1:3333/api/auth/register/confirm/' + confirmation_token }}">Confirm email address</a>
</p>