<p>Hi {{ username }},</p>

<p>
  We have received a request to change your password on TarkovArmory.
</p>

<p>
  To change your password, please click on the link below (TODO: UPDATE LINK FOR PRODUCTION):
</p>

<p>
<a href="{{ '127.0.0.1:3333/api/auth/password/reset/' + token }}">Reset password</a>
</p>

<p>
  If you didn't request a password reset, you can ignore this email.
</p>

<p>
  Best regards,
</p>

<p>
  TarkovArmory
</p>