<p>Hi {{ username }},</p>

<p>
  We have received a request to change your password on Tarkov Gunsmith.
</p>

<p>
  To change your password, please click on the link below:
</p>

<p>
<a href="{{ 'https://tarkov-gunsmith.com/confirm-password-reset/' + token }}">Reset password</a>
</p>

<p>
  If you didn't request a password reset, you can ignore this email.
</p>

<p>
  Best regards,
</p>

<p>
  Tarkov Gunsmith
</p>